
.dialogDiv {
  margin-left: 30px;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
}

.spaceDiv {
  clear: both;
}

.addAppForm {
  width: 100%;
  height: 100%;
}

.inputRow {
  width: 100%;
  height: 35px;
  vertical-align: bottom;
  float: left;
}
.inputBigRow {
  margin-left: 20px;
  display: inline;
  float: left;
  margin-top: 15px;
}

.downloadText {
  width: 100%;
  height: 100%;
  color: #286090;
  font-weight: bold;
  cursor: pointer;
}


.inputLabel {
  float: left;
  margin-left: 20px;
  margin-top: 8px;
  height: 30px;
  line-height: 30px;

}
.inputContent {
  float: left;
  margin-top: 8px;
  margin-left: 16px;
  height: 30px;
  width: 200px;
}

.inputUpload{
  margin-left: 20px;
  margin-top: -10px;
  height: 40px;
}

.inputError {
  margin-top: 8px;
  color: #ff0000;
}
progress {
  width: 360px;
}
progress::-webkit-progress-bar { background: #e6e6e6; }
progress::-webkit-progress-value  { background: #0064B4; }


.searchAppDiv {
  float: right;
  height: 100%;
  width: 400px;
  line-height: 80px;
  text-align: right;
  vertical-align: middle;
}
.searchAppInput {
  width: 160px;
  height: 26px;

}
